In [1]:
# Dependencies and Setup
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
#import numpy as np
#import dateutil
# Hide warning messages in notebook
import warnings
warnings.filterwarnings('ignore')


# this code written by Paul AG

#CSV files outputed from NYC_CrimeCnt_AvgPriceSqFt_AvgRent_by_Boro_Bar_Plots

boro=['Manhattan', 'Bronx', 'Brooklyn', 'Queens', 'Staten Island']
# Kings is synomous with Brooklyn (same land mass)
county=['New York', 'Bronx', 'Kings', 'Queens', 'Richmond']

In [2]:
nyc_crime_df=pd.read_csv("nyc_crime_yr_df.csv")

In [3]:
manhattan_crime_df=pd.DataFrame(nyc_crime_df,columns=['YR','MANHATTAN Crime Cnt'])

In [4]:
brooklyn_crime_df=pd.DataFrame(nyc_crime_df,columns=['YR','BROOKLYN Crime Cnt'])

In [5]:
queens_crime_df=pd.DataFrame(nyc_crime_df,columns=['YR','QUEENS Crime Cnt'])

In [6]:
bronx_crime_df=pd.DataFrame(nyc_crime_df,columns=['YR','BRONX Crime Cnt'])

In [7]:
staten_island_crime_df=pd.DataFrame(nyc_crime_df,columns=['YR','STATEN ISLAND Crime Cnt'])

In [8]:
manhattan_crime_df

     YR  MANHATTAN Crime Cnt
0  2012               119956
1  2013               117883
2  2014               113398
3  2015               112890
4  2016               115174
5  2017               111646

In [9]:
#brooklyn_crime_df=brooklyn_crime_df.rename(columns={'BROOKLYN_Crime_Cnt':'Brooklyn Crime Cnt'})

In [10]:
brooklyn_crime_df

     YR  BROOKLYN Crime Cnt
0  2012            154802.0
1  2013            149725.0
2  2014            148804.0
3  2015            142855.0
4  2016            140162.0
5  2017            134713.0

In [11]:
brooklyn_crime_df_5YR_diff2=brooklyn_crime_df['BROOKLYN Crime Cnt'].diff()
brooklyn_crime_df_5YR_perc_diff2=brooklyn_crime_df_5YR_diff2.sum()/brooklyn_crime_df['BROOKLYN Crime Cnt'][0]*100
brooklyn_crime_df_5YR_perc_diff2

-12.977222516504956

In [12]:
nyc_price_df=pd.read_csv("nyc_avg_price_sqft_yr_df.csv")

In [13]:
manhattan_price_df=pd.DataFrame(nyc_price_df,columns=['YR','Manhattan Avg Price per sqft'])

In [14]:
manhattan_price_df

     YR  Manhattan Avg Price per sqft
0  2012                   1033.476667
1  2013                   1133.230000
2  2014                   1283.083333
3  2015                   1375.263333
4  2016                   1432.233333
5  2017                   1430.273333

In [15]:
brooklyn_price_df=pd.DataFrame(nyc_price_df,columns=['YR','Brooklyn Avg Price per sqft'])

In [16]:
brooklyn_price_df

     YR  Brooklyn Avg Price per sqft
0  2012                   454.848837
1  2013                   493.604651
2  2014                   552.040698
3  2015                   616.941860
4  2016                   671.180233
5  2017                   708.587209

In [17]:
queens_price_df=pd.DataFrame(nyc_price_df,columns=['YR','Queens Avg Price per sqft'])

In [18]:
bronx_price_df=pd.DataFrame(nyc_price_df,columns=['YR','Bronx Avg Price per sqft'])

In [19]:
staten_island_price_df=pd.DataFrame(nyc_price_df,columns=['YR','Staten Island Avg Price per sqft'])

In [20]:
nyc_rent_df=pd.read_csv("nyc_avg_rent_yr_df.csv")

In [21]:
manhattan_rent_df=pd.DataFrame(nyc_rent_df,columns=['YR','Manhattan avg rental price'])

In [22]:
brooklyn_rent_df=pd.DataFrame(nyc_rent_df,columns=['YR','Brooklyn avg rental price'])

In [23]:
brooklyn_rent_df=brooklyn_rent_df.rename(columns={'Brooklyn avg rental price':'Brooklyn Avg Rent'})

In [24]:
queens_rent_df=pd.DataFrame(nyc_rent_df,columns=['YR','Queens avg rental price'])

In [25]:
queens_rent_df=queens_rent_df.rename(columns={'Queens avg rental price':'Queens Avg Rent'})

In [26]:
bronx_rent_df=pd.DataFrame(nyc_rent_df,columns=['YR','Bronx avg rental price'])

In [27]:
bronx_rent_df=bronx_rent_df.rename(columns={'Bronx avg rental price':'Bronx Avg Rent'})

In [28]:
staten_island_rent_df=pd.DataFrame(nyc_rent_df,columns=['YR','Staten Island avg rental price'])

In [29]:
staten_island_rent_df=staten_island_rent_df.rename(columns={'Staten Island avg rental price':'Staten Island Avg Rent'})

In [30]:
brooklyn_rent_df

     YR  Brooklyn Avg Rent
0  2012        1858.980903
1  2013        2042.012153
2  2014        2194.678819
3  2015        2333.333333
4  2016        2427.928819
5  2017        2458.456597

In [31]:
manhattan_rent_df=manhattan_rent_df.rename(columns={'Manhattan avg rental price':'Manhattan Avg Rent'})

In [32]:
manhattan_rent_df

     YR  Manhattan Avg Rent
0  2012         3075.647436
1  2013         3186.294872
2  2014         3421.733974
3  2015         3786.842949
4  2016         3778.961538
5  2017         3670.596154

In [33]:
manhattan_crime_df_5YR_diff=manhattan_crime_df['MANHATTAN Crime Cnt'][5]-manhattan_crime_df['MANHATTAN Crime Cnt'][0]
manhattan_crime_df_5YR_perc_diff=manhattan_crime_df_5YR_diff/manhattan_crime_df['MANHATTAN Crime Cnt'][0]*100
manhattan_crime_df_5YR_perc_diff

-6.927540098035946

In [34]:
manhattan_price_df_5YR_diff2=manhattan_price_df['Manhattan Avg Price per sqft'].diff()
manhattan_price_df_5YR_perc_diff2=manhattan_price_df_5YR_diff2.sum()/manhattan_price_df['Manhattan Avg Price per sqft'][0]*100
manhattan_price_df_5YR_perc_diff2

38.394351751208724

In [35]:
manhattan_rent_df_5YR_diff2=manhattan_rent_df['Manhattan Avg Rent'].diff()
manhattan_rent_df_5YR_perc_diff2=manhattan_rent_df_5YR_diff2.sum()/manhattan_rent_df['Manhattan Avg Rent'][0]*100
manhattan_rent_df_5YR_perc_diff2

19.34385297237814

In [36]:
brooklyn_crime_df_5YR_diff=brooklyn_crime_df['BROOKLYN Crime Cnt'][5]-brooklyn_crime_df['BROOKLYN Crime Cnt'][0]
brooklyn_crime_df_5YR_perc_diff=brooklyn_crime_df_5YR_diff/brooklyn_crime_df['BROOKLYN Crime Cnt'][0]*100
brooklyn_crime_df_5YR_perc_diff

-12.977222516504956

In [37]:
brooklyn_price_df_5YR_diff2=brooklyn_price_df['Brooklyn Avg Price per sqft'].diff()
brooklyn_price_df_5YR_perc_diff2=brooklyn_price_df_5YR_diff2.sum()/brooklyn_price_df['Brooklyn Avg Price per sqft'][0]*100
brooklyn_price_df_5YR_perc_diff2

55.78520847713268

In [38]:
brooklyn_rent_df_5YR_diff2=brooklyn_rent_df['Brooklyn Avg Rent'].diff()
brooklyn_rent_df_5YR_perc_diff2=brooklyn_rent_df_5YR_diff2.sum()/brooklyn_rent_df['Brooklyn Avg Rent'][0]*100
brooklyn_rent_df_5YR_perc_diff2

32.24754453091362

In [39]:
nyc_crime_df.columns

Index(['Unnamed: 0', 'YR', 'MANHATTAN Crime Cnt', 'BROOKLYN Crime Cnt',
       'QUEENS Crime Cnt', 'BRONX Crime Cnt', 'STATEN ISLAND Crime Cnt'],
      dtype='object')

In [40]:
queens_crime_df_5YR_diff2=queens_crime_df['QUEENS Crime Cnt'].diff()
queens_crime_df_5YR_perc_diff2=queens_crime_df_5YR_diff2.sum()/queens_crime_df['QUEENS Crime Cnt'][0]*100
queens_crime_df_5YR_perc_diff2

-9.737627556165046

In [41]:
queens_price_df_5YR_diff2=queens_price_df['Queens Avg Price per sqft'].diff()
queens_price_df_5YR_perc_diff2=queens_price_df_5YR_diff2.sum()/queens_price_df['Queens Avg Price per sqft'][0]*100
queens_price_df_5YR_perc_diff2

41.06541069470953

In [42]:
queens_rent_df_5YR_diff2=queens_rent_df['Queens Avg Rent'].diff()
queens_rent_df_5YR_perc_diff2=queens_rent_df_5YR_diff2.sum()/queens_rent_df['Queens Avg Rent'][0]*100
queens_rent_df_5YR_perc_diff2

31.837030893634644

In [43]:
bronx_crime_df_5YR_diff2=bronx_crime_df['BRONX Crime Cnt'].diff()
bronx_crime_df_5YR_perc_diff2=bronx_crime_df_5YR_diff2.sum()/bronx_crime_df['BRONX Crime Cnt'][0]*100


bronx_price_df_5YR_diff2=bronx_price_df['Bronx Avg Price per sqft'].diff()
bronx_price_df_5YR_perc_diff2=bronx_price_df_5YR_diff2.sum()/bronx_price_df['Bronx Avg Price per sqft'][0]*100

bronx_rent_df_5YR_diff2=bronx_rent_df['Bronx Avg Rent'].diff()
bronx_rent_df_5YR_perc_diff2=bronx_rent_df_5YR_diff2.sum()/bronx_rent_df['Bronx Avg Rent'][0]*100

In [44]:
staten_island_crime_df_5YR_diff2=staten_island_crime_df['STATEN ISLAND Crime Cnt'].diff()
staten_island_crime_df_5YR_perc_diff2=staten_island_crime_df_5YR_diff2.sum()/staten_island_crime_df['STATEN ISLAND Crime Cnt'][0]*100

staten_island_price_df_5YR_diff2=staten_island_price_df['Staten Island Avg Price per sqft'].diff()
staten_island_price_df_5YR_perc_diff2=staten_island_price_df_5YR_diff2.sum()/staten_island_price_df['Staten Island Avg Price per sqft'][0]*100

staten_island_rent_df_5YR_diff2=staten_island_rent_df['Staten Island Avg Rent'].diff()
staten_island_rent_df_5YR_perc_diff2=staten_island_rent_df_5YR_diff2.sum()/staten_island_rent_df['Staten Island Avg Rent'][0]*100

In [45]:
manhattan_5YR_analysis_df=pd.DataFrame({'Manhattan Crime Count 5yrs Decrease (%)':[manhattan_crime_df_5YR_perc_diff],
                'Manhattan Crime Count YR2017':manhattan_crime_df['MANHATTAN Crime Cnt'][5],
                 'Manhattan Avg Price per SqFt 5yrs Increase (%)':[manhattan_price_df_5YR_perc_diff2],
            'Manhattan Max Avg Price per SqFt 5yrs': manhattan_price_df['Manhattan Avg Price per sqft'].max(),
                 'Manhattan Avg Rent 5yrs Increase (%)':[manhattan_rent_df_5YR_perc_diff2],
                'Manhattan Max Avg Rent 5yrs':manhattan_rent_df['Manhattan Avg Rent'].max()})

In [46]:
brooklyn_5YR_analysis_df=pd.DataFrame({'Brooklyn Crime Count 5yrs Decrease (%)':[brooklyn_crime_df_5YR_perc_diff],
            'Brooklyn Crime Count YR2017':brooklyn_crime_df['BROOKLYN Crime Cnt'][5],
                 'Brooklyn Avg Price per SqFt 5yrs Increase (%)':[brooklyn_price_df_5YR_perc_diff2],
           'Brooklyn Max Avg Price per SqFt 5yrs': brooklyn_price_df['Brooklyn Avg Price per sqft'].max(),
                 'Brooklyn Avg Rent 5yrs Increase (%)':[brooklyn_rent_df_5YR_perc_diff2],
              'Brooklyn Max Avg Rent 5yrs':brooklyn_rent_df['Brooklyn Avg Rent'].max()
                                      })

In [47]:
queens_5YR_analysis_df=pd.DataFrame({'Queens Crime Count 5yrs Decrease (%)':[queens_crime_df_5YR_perc_diff2],
                'Queens Crime Count YR2017':queens_crime_df['QUEENS Crime Cnt'][5],
                 'Queens Avg Price per SqFt 5yrs Increase (%)':[queens_price_df_5YR_perc_diff2],
                'Queens Max Avg Price per SqFt 5yrs': queens_price_df['Queens Avg Price per sqft'].max(),
                 'Queens Avg Rent 5yrs Increase (%)':[queens_rent_df_5YR_perc_diff2],
                'Queens Max Avg Rent 5yrs':queens_rent_df['Queens Avg Rent'].max()})

In [48]:
bronx_5YR_analysis_df=pd.DataFrame({'Bronx Crime Count 5yrs Decrease (%)':[bronx_crime_df_5YR_perc_diff2],
                'Bronx Crime Count YR2017':bronx_crime_df['BRONX Crime Cnt'][5],
                 'Bronx Avg Price per SqFt 5yrs Increase (%)':[bronx_price_df_5YR_perc_diff2],
                'Bronx Max Avg Price per SqFt 5yrs': bronx_price_df['Bronx Avg Price per sqft'].max(),
                 'Bronx Avg Rent 5yrs Increase (%)':[bronx_rent_df_5YR_perc_diff2],
                'Bronx Max Avg Rent 5yrs':bronx_rent_df['Bronx Avg Rent'].max()})

In [49]:
staten_island_5YR_analysis_df=pd.DataFrame({'Staten Island Crime Count 5yrs Decrease (%)':[staten_island_crime_df_5YR_perc_diff2],
                'Staten Island Crime Count YR2017':staten_island_crime_df['STATEN ISLAND Crime Cnt'][5],
                 'Staten Island Avg Price per SqFt 5yrs Increase (%)':[staten_island_price_df_5YR_perc_diff2],
                'Staten Island Max Avg Price per SqFt 5yrs': staten_island_price_df['Staten Island Avg Price per sqft'].max(),
                 'Staten Island Avg Rent 5yrs Increase (%)':[staten_island_rent_df_5YR_perc_diff2],
                'Staten Island Max Avg Rent 5yrs':staten_island_rent_df['Staten Island Avg Rent'].max()})

In [50]:
manhattan_5YR_analysis_df

,Manhattan Crime Count 5yrs Decrease (%),Manhattan Crime Count YR2017,Manhattan Avg Price per SqFt 5yrs Increase (%),Manhattan Max Avg Price per SqFt 5yrs,Manhattan Avg Rent 5yrs Increase (%),Manhattan Max Avg Rent 5yrs
0,-6.92754,111646,38.394352,1432.233333,19.343853,3786.842949

In [51]:
brooklyn_5YR_analysis_df

,Brooklyn Crime Count 5yrs Decrease (%),Brooklyn Crime Count YR2017,Brooklyn Avg Price per SqFt 5yrs Increase (%),Brooklyn Max Avg Price per SqFt 5yrs,Brooklyn Avg Rent 5yrs Increase (%),Brooklyn Max Avg Rent 5yrs
0,-12.977223,134713.0,55.785208,708.587209,32.247545,2458.456597

In [52]:
queens_5YR_analysis_df

,Queens Crime Count 5yrs Decrease (%),Queens Crime Count YR2017,Queens Avg Price per SqFt 5yrs Increase (%),Queens Max Avg Price per SqFt 5yrs,Queens Avg Rent 5yrs Increase (%),Queens Max Avg Rent 5yrs
0,-9.737628,89515.0,41.065411,490.720339,31.837031,2275.856557

In [53]:
bronx_5YR_analysis_df

,Bronx Crime Count 5yrs Decrease (%),Bronx Crime Count YR2017,Bronx Avg Price per SqFt 5yrs Increase (%),Bronx Max Avg Price per SqFt 5yrs,Bronx Avg Rent 5yrs Increase (%),Bronx Max Avg Rent 5yrs
0,-5.285252,101305.0,26.41878,312.254386,16.377095,1846.65873

In [54]:
staten_island_5YR_analysis_df

,Staten Island Crime Count 5yrs Decrease (%),Staten Island Crime Count YR2017,Staten Island Avg Price per SqFt 5yrs Increase (%),Staten Island Max Avg Price per SqFt 5yrs,Staten Island Avg Rent 5yrs Increase (%),Staten Island Max Avg Rent 5yrs
0,-11.705686,20856.0,30.315451,336.152778,15.367031,1601.062984