In [2]:
# Dependencies and Setup
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import dateutil

# this code written by Paul AG
# Hide warning messages in notebook
import warnings
warnings.filterwarnings('ignore')

# File to Load (Remember to Change These)
nyc_zillow_load = "\\Users\\Paul-DS\\Downloads\\Neighborhood_MedianValuePerSqft_AllHomes.csv"
nyc_zillow_data=pd.read_csv(nyc_zillow_load)

In [19]:
manhattan_val_per_sqrt_foot = nyc_zillow_data[nyc_zillow_data["CountyName"]=="New York"]

In [26]:
manhattan_val_per_sqrt_foot_mean = manhattan_val_per_sqrt_foot.drop(columns=["SizeRank","RegionID","RegionName","City","State","Metro","CountyName"]).mean()

In [30]:
kings_val_per_sqrt_foot = nyc_zillow_data[nyc_zillow_data["CountyName"]=="Kings"]

In [33]:
kings_val_per_sqrt_foot_mean = kings_val_per_sqrt_foot.drop(columns=["SizeRank","RegionID","RegionName","City","State","Metro","CountyName"]).mean()

In [37]:
bronx_val_per_sqrt_foot = nyc_zillow_data[nyc_zillow_data["CountyName"]=="Bronx"]
bronx_val_per_sqrt_foot_mean = bronx_val_per_sqrt_foot.drop(columns=["SizeRank","RegionID","RegionName","City","State","Metro","CountyName"]).mean()

In [38]:
staten_island_val_per_sqrt_foot = nyc_zillow_data[nyc_zillow_data["CountyName"]=="Richmond"]
staten_island_val_per_sqrt_foot_mean = staten_island_val_per_sqrt_foot.drop(columns=["SizeRank","RegionID","RegionName","City","State","Metro","CountyName"]).mean()

In [39]:
queens_val_per_sqrt_foot = nyc_zillow_data[nyc_zillow_data["CountyName"]=="Queens"]
queens_val_per_sqrt_foot_mean = queens_val_per_sqrt_foot.drop(columns=["SizeRank","RegionID","RegionName","City","State","Metro","CountyName"]).mean()

In [46]:
print(kings_val_per_sqrt_foot_mean.head())
print(bronx_val_per_sqrt_foot_mean.head())
print(manhattan_val_per_sqrt_foot_mean.head())
print(queens_val_per_sqrt_foot_mean.head())
print(staten_island_val_per_sqrt_foot_mean.head())

1996-04    132.024390
1996-05    132.048780
1996-06    131.902439
1996-07    131.853659
1996-08    132.000000
dtype: float64
1996-04    114.000000
1996-05    114.000000
1996-06    113.722222
1996-07    113.722222
1996-08    113.388889
dtype: float64
1996-04    276.681818
1996-05    277.863636
1996-06    279.000000
1996-07    279.863636
1996-08    280.818182
dtype: float64
1996-04    128.593220
1996-05    128.779661
1996-06    129.050847
1996-07    129.288136
1996-08    129.745763
dtype: float64
1996-04    116.145833
1996-05    115.812500
1996-06    115.562500
1996-07    115.229167
1996-08    114.895833
dtype: float64

In [51]:
df = pd.DataFrame(manhattan_val_per_sqrt_foot_mean,columns=['Manhattan price per sqft'])

In [55]:
df = df.join(pd.DataFrame(kings_val_per_sqrt_foot_mean,columns=['Brooklyn price per sqft']))

In [57]:
df = df.join(pd.DataFrame(bronx_val_per_sqrt_foot_mean,columns=['Bronx price per sqft']))

In [59]:
df = df.join(pd.DataFrame(queens_val_per_sqrt_foot_mean, columns=['Queens price per sqft']))

In [61]:
df = df.join(pd.DataFrame(staten_island_val_per_sqrt_foot_mean, columns = ['Staten Island price per sqft']))

In [66]:
df = df.reset_index(drop=False)

In [69]:
df = df.rename(columns={"index":"Date"})

In [78]:
df.tail(175)

,Date,Manhattan price per sqft,Brooklyn price per sqft,Bronx price per sqft,Queens price per sqft,Staten Island price per sqft
93,2004-01,672.00,316.232558,207.894737,278.694915,234.187500
94,2004-02,671.40,318.860465,210.315789,281.067797,236.041667
95,2004-03,672.92,321.488372,212.894737,283.627119,237.958333
96,2004-04,675.76,323.651163,215.631579,286.711864,239.833333
97,2004-05,679.84,326.255814,218.368421,290.779661,241.770833
98,2004-06,685.80,329.558140,220.526316,295.728814,243.812500
99,2004-07,694.80,334.395349,222.578947,301.203390,246.208333
100,2004-08,707.04,340.604651,224.684211,306.661017,248.625000
101,2004-09,722.08,348.139535,227.210526,312.237288,251.395833
102,2004-10,738.36,356.511628,230.631579,317.610169,254.541667
103,2004-11,754.52,365.000000,233.947368,323.237288,257.875000
104,2004-12,771.20,373.023256,237.789474,328.711864,261.604167
105,2005-01,788.32,380.069767,241.526316,332.864407,265.604167
106,2005-02,805.44,386.674419,245.210526,335.813559,269.625000
107,2005-03,822.76,393.720930,249.105263,338.677966,273.875000
108,2005-04,839.40,400.697674,253.052632,341.847458,278.125000
109,2005-05,854.28,407.348837,257.105263,345.847458,282.041667
110,2005-06,867.32,413.976744,260.789474,350.322034,285.750000
111,2005-07,879.24,420.744186,264.473684,355.406780,289.458333
112,2005-08,890.92,428.000000,267.736842,360.610169,292.770833
113,2005-09,903.56,435.255814,270.947368,366.237288,295.958333
114,2005-10,917.64,441.581395,274.052632,371.983051,299.125000
115,2005-11,932.72,447.209302,277.368421,378.389831,301.895833
116,2005-12,947.92,451.697674,280.736842,384.711864,304.062500
117,2006-01,961.40,454.883721,283.789474,389.932203,306.000000
118,2006-02,971.68,456.813953,286.157895,393.525424,307.395833
119,2006-03,979.00,458.720930,288.210526,396.423729,308.583333
120,2006-04,983.68,461.279070,290.210526,399.559322,309.770833
121,2006-05,984.72,464.465116,292.157895,403.050847,310.583333
122,2006-06,981.48,467.906977,294.052632,406.474576,311.312500
...,...,...,...,...,...,...
238,2016-02,1432.92,657.279070,274.631579,443.423729,294.520833
239,2016-03,1438.80,662.000000,275.315789,445.677966,296.354167
240,2016-04,1438.28,665.674419,276.842105,447.847458,298.125000
241,2016-05,1435.72,668.209302,278.736842,450.677966,299.750000
242,2016-06,1433.88,669.790698,281.157895,453.338983,300.520833
243,2016-07,1434.20,671.116279,282.894737,456.169492,301.125000
244,2016-08,1433.12,674.279070,284.578947,460.016949,302.958333
245,2016-09,1429.76,678.162791,288.263158,463.016949,306.375000
246,2016-10,1426.08,681.023256,292.842105,466.101695,310.958333
247,2016-11,1427.36,684.744186,297.210526,470.203390,315.083333
248,2016-12,1432.24,689.813953,300.842105,474.576271,318.062500
249,2017-01,1437.76,694.116279,303.578947,477.525424,319.791667
250,2017-02,1438.96,696.790698,305.578947,478.762712,321.354167
251,2017-03,1435.68,699.697674,307.315789,480.610169,323.937500
252,2017-04,1429.72,702.627907,308.842105,483.728814,326.979167
253,2017-05,1427.04,704.465116,310.368421,486.864407,330.479167
254,2017-06,1428.92,705.581395,311.894737,488.593220,334.833333
255,2017-07,1431.36,708.651163,313.315789,490.593220,340.062500
256,2017-08,1429.60,713.395349,315.157895,493.610169,344.145833
257,2017-09,1428.84,717.511628,317.000000,497.627119,346.083333
258,2017-10,1428.68,719.279070,317.473684,501.288136,347.104167
259,2017-11,1425.56,719.627907,317.894737,503.796610,348.541667
260,2017-12,1421.16,721.302326,318.631579,505.644068,350.520833
261,2018-01,1421.80,726.186047,319.947368,508.745763,353.395833
262,2018-02,1426.28,732.000000,321.315789,512.084746,356.354167
263,2018-03,1429.64,736.860465,323.421053,515.694915,359.166667
264,2018-04,1437.28,740.720930,324.947368,519.677966,362.458333
265,2018-05,1447.28,744.348837,326.526316,524.576271,365.083333
266,2018-06,1450.04,747.418605,328.421053,528.677966,367.125000
267,2018-07,1444.96,748.860465,329.842105,530.779661,368.666667

In [71]:
df.to_csv('NEWYORK_MEAN_PRICE_PER_SQFT.csv')

In [72]:
df.index

RangeIndex(start=0, stop=268, step=1)