In [1]:
# Dependencies and Setup
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import dateutil

# this code written by Paul AG
# Hide warning messages in notebook
import warnings
warnings.filterwarnings('ignore')


# File to Load (Remember to Change These)
#nyc_zillow_load = "\\Users\\Paul-DS\\Downloads\\Neighborhood_MedianValuePerSqft_AllHomes.csv"
nyc_crime_load="\\Users\\Paul-DS\\Downloads\\NYPD_Complaint_Data_Historic.csv"

#nyc_zillow_data=pd.read_csv(nyc_zillow_load, low_memory=True)
nyc_crime_data=pd.read_csv(nyc_crime_load)

boro=['Manhattan', 'Bronx', 'Brooklyn', 'Queens', 'Staten Island']
# Kings is synomous with Brooklyn (same land mass)
county=['New York', 'Bronx', 'Kings', 'Queens', 'Richmond']

In [2]:
# Start droping columns we do not need 
# -- We know from previous work on this data set we can initially drop columns
nyc_crime_data=nyc_crime_data.drop(columns=['CMPLNT_NUM', 'CMPLNT_FR_TM', 'CMPLNT_TO_DT',
       'CMPLNT_TO_TM', 'RPT_DT','OFNS_DESC', 'PD_CD', 'PD_DESC',
       'CRM_ATPT_CPTD_CD', 'LAW_CAT_CD', 'JURIS_DESC',
     'LOC_OF_OCCUR_DESC', 'PREM_TYP_DESC', 'PARKS_NM',
       'HADEVELOPT', 'X_COORD_CD', 'Y_COORD_CD', 'Latitude', 'Longitude',
       'Lat_Lon'])

In [3]:
#nyc_crime_data.info()

In [4]:
# TypeError: Parser must be a string or character stream, not float
# now converting column to strings, But don't understand why when its already an object of strings?
string_dates=[]
for date in nyc_crime_data['CMPLNT_FR_DT']:
    date=str(date)
    string_dates.append(date)

In [5]:
nyc_crime_data['DATE_TYPE']=pd.to_datetime(string_dates,dayfirst=False, errors='coerce')

In [6]:
# Filter data to above year 1995
nyc_crime_data=nyc_crime_data[nyc_crime_data['DATE_TYPE'].dt.year>1995]

In [7]:
nyc_crime_data.count()

CMPLNT_FR_DT    6047293
KY_CD           6047293
BORO_NM         6046830
ADDR_PCT_CD     6046903
DATE_TYPE       6047293
dtype: int64

In [8]:
nyc_crime_data=nyc_crime_data.dropna()

In [9]:
nyc_crime_data.count()

CMPLNT_FR_DT    6046827
KY_CD           6046827
BORO_NM         6046827
ADDR_PCT_CD     6046827
DATE_TYPE       6046827
dtype: int64

In [10]:
# change date value type and format YYYY-MM (final)
nyc_crime_data['YR_M'] = nyc_crime_data['DATE_TYPE'].dt.strftime('%Y-%m')

In [11]:
nyc_crime_data.head()

  CMPLNT_FR_DT  KY_CD    BORO_NM  ADDR_PCT_CD  DATE_TYPE     YR_M
0   12/31/2015    113      BRONX         44.0 2015-12-31  2015-12
1   12/31/2015    101     QUEENS        103.0 2015-12-31  2015-12
2   12/31/2015    117  MANHATTAN         28.0 2015-12-31  2015-12
3   12/31/2015    344     QUEENS        105.0 2015-12-31  2015-12
4   12/31/2015    344  MANHATTAN         13.0 2015-12-31  2015-12

In [12]:
nyc_crime_data=nyc_crime_data.drop(columns=['CMPLNT_FR_DT','DATE_TYPE'])

In [13]:
nyc_crime_data.head()

   KY_CD    BORO_NM  ADDR_PCT_CD     YR_M
0    113      BRONX         44.0  2015-12
1    101     QUEENS        103.0  2015-12
2    117  MANHATTAN         28.0  2015-12
3    344     QUEENS        105.0  2015-12
4    344  MANHATTAN         13.0  2015-12

In [14]:
nyc_crime_data.to_csv('NYC_CRIME_DATA_YRM_KYCD_PRECINCT.CSV')

In [ ]:
# Nice method to check dates
#[item for item in nyc_crime_data['CMPLNT_FR_DT'].unique()]

In [ ]:
manhattan_crime_cnt = nyc_crime_data[nyc_crime_data['BORO_NM']=='MANHATTAN'].drop(columns=['CMPLNT_NUM', 'CMPLNT_FR_DT', 'CMPLNT_FR_TM', 'CMPLNT_TO_DT',
       'CMPLNT_TO_TM', 'RPT_DT','OFNS_DESC', 'PD_CD', 'PD_DESC',
       'CRM_ATPT_CPTD_CD', 'LAW_CAT_CD', 'JURIS_DESC', 'BORO_NM',
       'ADDR_PCT_CD', 'LOC_OF_OCCUR_DESC', 'PREM_TYP_DESC', 'PARKS_NM',
       'HADEVELOPT', 'X_COORD_CD', 'Y_COORD_CD', 'Latitude', 'Longitude',
       'Lat_Lon']).groupby(['YR_M']).count()

In [ ]:
brooklyn_crime_cnt = nyc_crime_data[nyc_crime_data['BORO_NM']=='BROOKLYN'].drop(columns=['CMPLNT_NUM', 'CMPLNT_FR_DT', 'CMPLNT_FR_TM', 'CMPLNT_TO_DT',
       'CMPLNT_TO_TM', 'RPT_DT','OFNS_DESC', 'PD_CD', 'PD_DESC',
       'CRM_ATPT_CPTD_CD', 'LAW_CAT_CD', 'JURIS_DESC', 'BORO_NM',
       'ADDR_PCT_CD', 'LOC_OF_OCCUR_DESC', 'PREM_TYP_DESC', 'PARKS_NM',
       'HADEVELOPT', 'X_COORD_CD', 'Y_COORD_CD', 'Latitude', 'Longitude',
       'Lat_Lon']).groupby(['YR_M']).count()

In [ ]:
queens_crime_cnt = nyc_crime_data[nyc_crime_data["BORO_NM"]=="QUEENS"].drop(columns=['CMPLNT_NUM', 'CMPLNT_FR_DT', 'CMPLNT_FR_TM', 'CMPLNT_TO_DT',
       'CMPLNT_TO_TM', 'RPT_DT','OFNS_DESC', 'PD_CD', 'PD_DESC',
       'CRM_ATPT_CPTD_CD', 'LAW_CAT_CD', 'JURIS_DESC', 'BORO_NM',
       'ADDR_PCT_CD', 'LOC_OF_OCCUR_DESC', 'PREM_TYP_DESC', 'PARKS_NM',
       'HADEVELOPT', 'X_COORD_CD', 'Y_COORD_CD', 'Latitude', 'Longitude',
       'Lat_Lon']).groupby(['YR_M']).count()

In [ ]:
bronx_crime_cnt = nyc_crime_data[nyc_crime_data["BORO_NM"]=="BRONX"].drop(columns=['CMPLNT_NUM', 'CMPLNT_FR_DT', 'CMPLNT_FR_TM', 'CMPLNT_TO_DT',
       'CMPLNT_TO_TM', 'RPT_DT','OFNS_DESC', 'PD_CD', 'PD_DESC',
       'CRM_ATPT_CPTD_CD', 'LAW_CAT_CD', 'JURIS_DESC', 'BORO_NM',
       'ADDR_PCT_CD', 'LOC_OF_OCCUR_DESC', 'PREM_TYP_DESC', 'PARKS_NM',
       'HADEVELOPT', 'X_COORD_CD', 'Y_COORD_CD', 'Latitude', 'Longitude',
       'Lat_Lon']).groupby(['YR_M']).count()

In [ ]:
staten_island_crime_cnt = nyc_crime_data[nyc_crime_data["BORO_NM"]=="STATEN ISLAND"].drop(columns=['CMPLNT_NUM', 'CMPLNT_FR_DT', 'CMPLNT_FR_TM', 'CMPLNT_TO_DT',
       'CMPLNT_TO_TM', 'RPT_DT','OFNS_DESC', 'PD_CD', 'PD_DESC',
       'CRM_ATPT_CPTD_CD', 'LAW_CAT_CD', 'JURIS_DESC', 'BORO_NM',
       'ADDR_PCT_CD', 'LOC_OF_OCCUR_DESC', 'PREM_TYP_DESC', 'PARKS_NM',
       'HADEVELOPT', 'X_COORD_CD', 'Y_COORD_CD', 'Latitude', 'Longitude',
       'Lat_Lon']).groupby(['YR_M']).count()

In [ ]:
manhattan_crime_cnt = manhattan_crime_cnt.rename(columns={'KY_CD':'MANHATTAN_Crime_Cnt'})

In [ ]:
brooklyn_crime_cnt = brooklyn_crime_cnt.rename(columns={'KY_CD':'BROOKLYN_Crime_Cnt'})

In [ ]:
queens_crime_cnt = queens_crime_cnt.rename(columns={'KY_CD':'QUEENS_Crime_Cnt'})

In [ ]:
bronx_crime_cnt = bronx_crime_cnt.rename(columns={'KY_CD':'BRONX_Crime_Cnt'})

In [ ]:
staten_island_crime_cnt = staten_island_crime_cnt.rename(columns={'KY_CD':'STATEN_ISLAND_Crime_Cnt'})

In [ ]:
print(manhattan_crime_cnt.head())
manhattan_crime_cnt.head().index

In [ ]:
print(brooklyn_crime_cnt.head())
brooklyn_crime_cnt.head().index

In [ ]:
print(queens_crime_cnt.head())
queens_crime_cnt.head().index

In [ ]:
print(bronx_crime_cnt.head())
bronx_crime_cnt.head().index

In [ ]:
print(staten_island_crime_cnt.head())
staten_island_crime_cnt.head().index

In [ ]:
nyc_crime_cnt_df = manhattan_crime_cnt

In [ ]:
nyc_crime_cnt_df = nyc_crime_cnt_df.join(brooklyn_crime_cnt)

In [ ]:
nyc_crime_cnt_df = nyc_crime_cnt_df.join(queens_crime_cnt)

In [ ]:
nyc_crime_cnt_df = nyc_crime_cnt_df.join(bronx_crime_cnt)

In [ ]:
nyc_crime_cnt_df = nyc_crime_cnt_df.join(staten_island_crime_cnt)

In [ ]:
# DOES NOT WORK because YR_M is index nyc_crime_cnt_df = nyc_crime_cnt_df.rename(columns={'YR_M':'Date'})
nyc_crime_cnt_df.index.rename('Date',inplace=True)

In [ ]:
nyc_crime_cnt_df.to_csv('NYC_Crime_Cnt_by_Boro.csv')

In [ ]:
#nyc_crime_cnt_df.plot(kind='bar')

In [ ]:
# Need to check why starts from 2006 not earlier!!!
#nyc_crime_data['RPT_DT'].min()