In [1]:
# Dependencies and Setup
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import dateutil

# this code written by Paul AG
# Hide warning messages in notebook
import warnings
warnings.filterwarnings('ignore')


# File to Load (Remember to Change These)
#nyc_zillow_load = "\\Users\\Paul-DS\\Downloads\\Neighborhood_MedianValuePerSqft_AllHomes.csv"
nyc_crime_load="\\Users\\Paul-DS\\Downloads\\NYPD_Complaint_Data_Historic.csv"

#nyc_zillow_data=pd.read_csv(nyc_zillow_load, low_memory=True)
nyc_crime_data=pd.read_csv(nyc_crime_load)

boro=['Manhattan', 'Bronx', 'Brooklyn', 'Queens', 'Staten Island']
# Kings is synomous with Brooklyn (same land mass)
county=['New York', 'Bronx', 'Kings', 'Queens', 'Richmond']

In [2]:
# Start droping columns we do not need 
# -- We know from previous work on this data set we can initially drop columns
nyc_crime_data=nyc_crime_data.drop(columns=['CMPLNT_NUM', 'CMPLNT_FR_TM', 'CMPLNT_TO_DT',
       'CMPLNT_TO_TM', 'RPT_DT','OFNS_DESC', 'PD_CD', 'PD_DESC',
       'CRM_ATPT_CPTD_CD', 'LAW_CAT_CD', 'JURIS_DESC',
     'LOC_OF_OCCUR_DESC', 'PREM_TYP_DESC', 'PARKS_NM',
       'HADEVELOPT', 'X_COORD_CD', 'Y_COORD_CD', 'Latitude', 'Longitude',
       'Lat_Lon'])

In [3]:
#nyc_crime_data.info()

In [4]:
# TypeError: Parser must be a string or character stream, not float
# now converting column to strings, But don't understand why when its already an object of strings?
string_dates=[]
for date in nyc_crime_data['CMPLNT_FR_DT']:
    date=str(date)
    string_dates.append(date)

In [5]:
nyc_crime_data['DATE_TYPE']=pd.to_datetime(string_dates,dayfirst=False, errors='coerce')

In [6]:
# Filter data to above year 1995
nyc_crime_data=nyc_crime_data[nyc_crime_data['DATE_TYPE'].dt.year>1995]

In [7]:
nyc_crime_data.count()

CMPLNT_FR_DT    6047293
KY_CD           6047293
BORO_NM         6046830
ADDR_PCT_CD     6046903
DATE_TYPE       6047293
dtype: int64

In [8]:
nyc_crime_data=nyc_crime_data.dropna()

In [9]:
nyc_crime_data.count()

CMPLNT_FR_DT    6046827
KY_CD           6046827
BORO_NM         6046827
ADDR_PCT_CD     6046827
DATE_TYPE       6046827
dtype: int64

In [10]:
# change date value type and format YYYY-MM (final)
nyc_crime_data['YR_M'] = nyc_crime_data['DATE_TYPE'].dt.strftime('%Y-%m')

In [11]:
nyc_crime_data.head()

  CMPLNT_FR_DT  KY_CD    BORO_NM  ADDR_PCT_CD  DATE_TYPE     YR_M
0   12/31/2015    113      BRONX         44.0 2015-12-31  2015-12
1   12/31/2015    101     QUEENS        103.0 2015-12-31  2015-12
2   12/31/2015    117  MANHATTAN         28.0 2015-12-31  2015-12
3   12/31/2015    344     QUEENS        105.0 2015-12-31  2015-12
4   12/31/2015    344  MANHATTAN         13.0 2015-12-31  2015-12

In [12]:
nyc_crime_data=nyc_crime_data.drop(columns=['CMPLNT_FR_DT','DATE_TYPE'])

In [13]:
nyc_crime_data.head()

   KY_CD    BORO_NM  ADDR_PCT_CD     YR_M
0    113      BRONX         44.0  2015-12
1    101     QUEENS        103.0  2015-12
2    117  MANHATTAN         28.0  2015-12
3    344     QUEENS        105.0  2015-12
4    344  MANHATTAN         13.0  2015-12

In [14]:
nyc_crime_data.to_csv('NYC_CRIME_DATA_YRM_KYCD_PRECINCT.CSV')

In [ ]:
# Nice method to check dates
#[item for item in nyc_crime_data['CMPLNT_FR_DT'].unique()]

In [35]:
import pandas as pd
nyc_crime_data=pd.read_csv('NYC_CRIME_DATA_YRM_KYCD_PRECINCT.CSV')

In [36]:
nyc_crime_data=nyc_crime_data[nyc_crime_data['YR_M']>'2011-12']

In [37]:
manhattan_precinct_crime_cnt = nyc_crime_data[nyc_crime_data['BORO_NM']=='MANHATTAN'].drop(columns=['BORO_NM']
                                                                                          ).groupby(['YR_M','ADDR_PCT_CD']).count()

In [38]:
brooklyn_precinct_crime_cnt = nyc_crime_data[nyc_crime_data['BORO_NM']=='BROOKLYN'].drop(columns=['BORO_NM']
                                                                                        ).groupby(['YR_M','ADDR_PCT_CD']).count()

In [39]:
queens_precinct_crime_cnt = nyc_crime_data[nyc_crime_data["BORO_NM"]=="QUEENS"].drop(columns=['BORO_NM']
                                                                                    ).groupby(['YR_M','ADDR_PCT_CD']).count()

In [40]:
bronx_precinct_crime_cnt = nyc_crime_data[nyc_crime_data["BORO_NM"]=="BRONX"].drop(columns=['BORO_NM']
                                                                                  ).groupby(['YR_M','ADDR_PCT_CD']).count()

In [41]:
staten_island_precinct_crime_cnt = nyc_crime_data[nyc_crime_data["BORO_NM"]=="STATEN ISLAND"].drop(columns=['BORO_NM']
                                                                                                  ).groupby(['YR_M','ADDR_PCT_CD']).count()

In [42]:
manhattan_precinct_crime_cnt=manhattan_precinct_crime_cnt.reset_index()
manhattan_precinct_crime_cnt = manhattan_precinct_crime_cnt.rename(columns={'ADDR_PCT_CD':'Manhattan Precinct',
                                'KY_CD':'MANHATTAN_precinct_Crime_Cnt'})

In [43]:
brooklyn_precinct_crime_cnt=brooklyn_precinct_crime_cnt.reset_index()
brooklyn_precinct_crime_cnt = brooklyn_precinct_crime_cnt.rename(columns={'ADDR_PCT_CD':'Brooklyn Precinct',
                                                                          'KY_CD':'BROOKLYN_precinct_Crime_Cnt'})

In [44]:
queens_precinct_crime_cnt=queens_precinct_crime_cnt.reset_index()
queens_precinct_crime_cnt = queens_precinct_crime_cnt.rename(columns={'ADDR_PCT_CD':'Queens Precinct',
                                                                      'KY_CD':'QUEENS_precinct_Crime_Cnt'})

In [45]:
bronx_precinct_crime_cnt=bronx_precinct_crime_cnt.reset_index()
bronx_precinct_crime_cnt = bronx_precinct_crime_cnt.rename(columns={'ADDR_PCT_CD':'Bronx Precinct',
                                                                    'KY_CD':'BRONX_precinct_Crime_Cnt'})

In [46]:
staten_island_precinct_crime_cnt=staten_island_precinct_crime_cnt.reset_index()
staten_island_precinct_crime_cnt = staten_island_precinct_crime_cnt.rename(columns={'ADDR_PCT_CD':'Staten Island Precinct',
                                                                                    'KY_CD':'STATEN_ISLAND_precinct_Crime_Cnt'})

In [47]:
manhattan_precinct_crime_cnt=manhattan_precinct_crime_cnt.drop(columns=['Unnamed: 0'])
manhattan_precinct_crime_cnt.index
manhattan_precinct_crime_cnt.info

<bound method DataFrame.info of          YR_M  Manhattan Precinct  MANHATTAN_precinct_Crime_Cnt
0     2012-01                 1.0                           473
1     2012-01                 5.0                           371
2     2012-01                 6.0                           465
3     2012-01                 7.0                           354
4     2012-01                 9.0                           525
5     2012-01                10.0                           344
6     2012-01                13.0                           571
7     2012-01                14.0                           904
8     2012-01                17.0                           257
9     2012-01                18.0                           652
10    2012-01                19.0                           514
11    2012-01                20.0                           317
12    2012-01                22.0                            23
13    2012-01                23.0                           522
14    2012-01                24.0                           368
15    2012-01                25.0                           617
16    2012-01                26.0                           283
17    2012-01                28.0                           449
18    2012-01                30.0                           440
19    2012-01                32.0                           590
20    2012-01                33.0                           308
21    2012-01                34.0                           437
22    2012-02                 1.0                           478
23    2012-02                 5.0                           380
24    2012-02                 6.0                           432
25    2012-02                 7.0                           310
26    2012-02                 9.0                           464
27    2012-02                10.0                           316
28    2012-02                13.0                           539
29    2012-02                14.0                           872
...       ...                 ...                           ...
1555  2017-11                24.0                           318
1556  2017-11                25.0                           494
1557  2017-11                26.0                           291
1558  2017-11                28.0                           440
1559  2017-11                30.0                           280
1560  2017-11                32.0                           434
1561  2017-11                33.0                           277
1562  2017-11                34.0                           397
1563  2017-12                 1.0                           489
1564  2017-12                 5.0                           333
1565  2017-12                 6.0                           334
1566  2017-12                 7.0                           273
1567  2017-12                 9.0                           380
1568  2017-12                10.0                           269
1569  2017-12                13.0                           488
1570  2017-12                14.0                           856
1571  2017-12                17.0                           313
1572  2017-12                18.0                           642
1573  2017-12                19.0                           503
1574  2017-12                20.0                           290
1575  2017-12                22.0                            15
1576  2017-12                23.0                           444
1577  2017-12                24.0                           337
1578  2017-12                25.0                           425
1579  2017-12                26.0                           195
1580  2017-12                28.0                           382
1581  2017-12                30.0                           241
1582  2017-12                32.0                           429
1583  2017-12                33.0                           292
1584  2017-12                34.0                           363

[1585 rows x 3 columns]>

In [48]:
brooklyn_precinct_crime_cnt=brooklyn_precinct_crime_cnt.drop(columns=['Unnamed: 0'])
brooklyn_precinct_crime_cnt.head().index
print(brooklyn_precinct_crime_cnt.head())

      YR_M  Brooklyn Precinct  BROOKLYN_precinct_Crime_Cnt
0  2012-01               60.0                          521
1  2012-01               61.0                          473
2  2012-01               62.0                          487
3  2012-01               63.0                          431
4  2012-01               66.0                          474

In [49]:
queens_precinct_crime_cnt=queens_precinct_crime_cnt.drop(columns=['Unnamed: 0'])
queens_precinct_crime_cnt.head().index
print(queens_precinct_crime_cnt.head())

      YR_M  Queens Precinct  QUEENS_precinct_Crime_Cnt
0  2012-01            100.0                        197
1  2012-01            101.0                        263
2  2012-01            102.0                        532
3  2012-01            103.0                        605
4  2012-01            104.0                       1026

In [50]:
bronx_precinct_crime_cnt=bronx_precinct_crime_cnt.drop(columns=['Unnamed: 0'])
bronx_precinct_crime_cnt.head().index
print(bronx_precinct_crime_cnt.head())

      YR_M  Bronx Precinct  BRONX_precinct_Crime_Cnt
0  2012-01            40.0                      1063
1  2012-01            41.0                       632
2  2012-01            42.0                       747
3  2012-01            43.0                      1082
4  2012-01            44.0                      1210

In [51]:
staten_island_precinct_crime_cnt=staten_island_precinct_crime_cnt.drop(columns=['Unnamed: 0'])
staten_island_precinct_crime_cnt.head().index
print(staten_island_precinct_crime_cnt.head())

      YR_M  Staten Island Precinct  STATEN_ISLAND_precinct_Crime_Cnt
0  2012-01                   120.0                               944
1  2012-01                   121.0                                 2
2  2012-01                   122.0                               643
3  2012-01                   123.0                               255
4  2012-02                   120.0                               999

In [52]:
manhattan_precinct_crime_cnt=manhattan_precinct_crime_cnt.set_index('YR_M')
brooklyn_precinct_crime_cnt=brooklyn_precinct_crime_cnt.set_index('YR_M')
queens_precinct_crime_cnt=queens_precinct_crime_cnt.set_index('YR_M')
bronx_precinct_crime_cnt=bronx_precinct_crime_cnt.set_index('YR_M')
staten_island_precinct_crime_cnt=staten_island_precinct_crime_cnt.set_index('YR_M')

In [53]:
manhattan_precinct_crime_cnt.to_csv('manhattan_precinct_Crime_Cnt.csv')

In [54]:
brooklyn_precinct_crime_cnt.to_csv('brooklyn_precinct_Crime_Cnt.csv')

In [55]:
queens_precinct_crime_cnt.to_csv('queens_precinct_Crime_Cnt.csv')

In [56]:
bronx_precinct_crime_cnt.to_csv('bronx_precinct_Crime_Cnt.csv')

In [57]:
staten_island_precinct_crime_cnt.to_csv('staten_island_precinct_Crime_Cnt.csv')

In [140]:
nyc_precinct_crime_cnt_df = manhattan_precinct_crime_cnt

In [141]:
nyc_precinct_crime_cnt_df = nyc_precinct_crime_cnt_df.join(brooklyn_precinct_crime_cnt)

In [142]:
nyc_precinct_crime_cnt_df = nyc_precinct_crime_cnt_df.join(queens_precinct_crime_cnt)

In [143]:
nyc_precinct_crime_cnt_df = nyc_precinct_crime_cnt_df.join(bronx_precinct_crime_cnt)

In [144]:
nyc_precinct_crime_cnt_df = nyc_precinct_crime_cnt_df.join(staten_island_precinct_crime_cnt)

In [146]:
# DOES NOT WORK because YR_M is index nyc_crime_cnt_df = nyc_crime_cnt_df.rename(columns={'YR_M':'Date'})
nyc_precinct_crime_cnt_df.index.rename('Date',inplace=True)

In [113]:
nyc_precinct_crime_cnt_df.to_csv('NYC_precinct_Crime_Cnt.csv')

In [ ]:
#nyc_crime_cnt_df.plot(kind='bar')

In [ ]:
# Need to check why starts from 2006 not earlier!!!
#nyc_crime_data['RPT_DT'].min()